.ms-options-wrap {
    position: relative;
}

.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
}

.ms-options-wrap > button:focus,
.ms-options-wrap > button {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #aaa;
    background-color: #fff;
    padding: 5px 20px 5px 5px;
    margin-top: 1px;
    font-size: 13px;
    color: #aaa;
    outline-offset: -2px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: inherit !important;
    text-transform: capitalize;
}

.ms-options-wrap > button[disabled] {
    background-color: #e5e9ed;
    color: #808080;
    opacity: 0.6;
}

.ms-options-wrap > button:after {
    content: ' ';
    height: 10px;
    position: absolute;
    top: 50%;
    right: 15px;
    width: 15px;
    margin-top: -3px;
    -webkit-appearance: none !important;
    -moz-appearance: none !important;
    appearance: none !important;
    background: transparent url('../partials/image/selectarrow.png') no-repeat 100% center !important;
    background-size: 14px !important;
}

.ms-options-wrap.ms-has-selections > button {
    color: #333 !important;
    background-color: #fff !important;
}

.ms-options-wrap > .ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #aaa;
    overflow: auto;
    visibility: hidden;
    padding: 10px;
}

.ms-options-wrap.ms-active > .ms-options {
    visibility: visible
}

.ms-options-wrap > .ms-options > .ms-search input {
    width: 100%;
    padding: 8px 8px;
    border: none;
    border-bottom: 1px groove;
    outline: none;
    font-size: 14px;
    padding: 3px 5px 6px 6px;
    min-height: 40px;
    height: 40px;
}

.ms-options-wrap > .ms-options > .no-result-message {
    padding: 4px 5px;
    display: none;
}

.ms-options-wrap > .ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em !important;
    text-transform: lowercase;
    text-decoration: none !important;
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
    margin: 4px 5px;
}

.ms-options-wrap > .ms-options > ul,
.ms-options-wrap > .ms-options > ul > li.optgroup ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.ms-options-wrap > .ms-options > ul li.ms-hidden {
    display: none;
}

.ms-options-wrap > .ms-options > ul > li.optgroup {
    padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > ul > li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 4px 4px 4px 26px;
    margin: 1px 0;
    border: 1px dotted transparent;
    cursor: pointer;
    padding-left: 26px !important;
    width: 100%;
    display: inline-block !important;
}
.ms-options-wrap > .ms-options.checkbox-autofit > ul label,
.ms-options-wrap > .ms-options.hide-checkbox > ul label {
    padding: 4px;
}

.ms-options-wrap > .ms-options > ul label.focused,
.ms-options-wrap > .ms-options > ul label:hover {
    background-color: #efefef;
    border-color: #999;
}

.ms-options-wrap > .ms-options > ul li.selected label {
    background-color: #efefef;
    border-color: transparent;
    border-radius: 4px;
    width: 100%;
    display: inline-block !important;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin: 2px 5px 0 0;
    position: absolute !important;
    left: 4px;
    top: 4px;
    /* transform: scale(1.2);    */
    outline: none;
    cursor: pointer;
    appearance: auto;
}

input[type=checkbox]:checked:after{
    opacity: 0 !important;
}


.ms-options input[type=checkbox], input[type=radio]{
    width: 16px;
    height: 16px !important;
}
